@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="wrapper">
    <div asp-validation-summary="All"></div>

    <form asp-action="ResetPassword">
        <h2>Reset Password</h2>

        <div class="input-field">
            <input asp-for="NewPassword" required>
            <label>Enter your password</label>
            <span asp-validation-for="NewPassword" class="text-danger"></span>

        </div>

        <div class="input-field">
            <input asp-for="ConfirmPassword" required>
            <label>Confirm password</label>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

 

        <button type="submit">Reset</button>

    </form>
</div>

@section ValidatoinScriptSection {
    <partial name="_ValidationScriptsPartial" />
}



